{% extends 'base.html.twig' %}

{% block title %}Page non touvée{% endblock %}

{% block body %}

    <h1> la page que vous recherchez n'existe pas ! </h1>
    <p>vous pouvez retourner à l'accueil ou voir nous dernièes annonces ! </p>

        <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-success">Nos annonces</a>

{% endblock %}